* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   overflow: hidden; 
}

.nav-item .nav-link {
    font-family: 'Oswald', sans-serif;    
}

.header-back {
    height: 100vh;
    width: 100vw;
}

.link-menu {
    color: white !important;
}

.header-back.one {
    position: relative;   
    background: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,.01)100%), url(../img/capa_2.jpg);
    background-repeat: no-repeat;   
    background-size: cover; 
    background-position: 0;
}

.burguer-logo {
    height: 35px;
    width: 35px;
    background-image: url(../img/burguer-logo.jpg);
    background-repeat: no-repeat;   
    background-size: cover; 
    background-position: 0;    
}

.display-3.texto-branco {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;   
}

a.texto-branco {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

h6.texto-branco {
    color: white;    
    font-weight: 200; 
    margin-bottom: 2.5rem;  
}

#best-price {
    transform: rotate(-30deg);
    transform-origin: left top 0;
    margin-top: 3rem;
    margin-left: 1.25rem;
}